 <div class="slide-left"> 
  <div class="record" data-id="<%= user.id %>">
    <b>Ranking: </b> <%= user.id %>
    <b>University Code: </b> <%= user.code %>
    <b>University Name: </b> <%= user.name %>
    <b>Location: </b> <%= user.location %> 
  </div>
  </div>
 